            <ul>
                <li>
                    <a href="#" tabindex="0"> <span>Home</span> </a>
                </li>
                <li>
                    <a href="#" tabindex="0"> <span>Notre équipe</span> </a>
                </li>
                <li class="has-submenu"><a href="#" tabindex="0"> <span>Nos métiers</span> </a>
                    <ul>
                        <li><a href="#" tabindex="0"><span>Designer UX</span></a></li>
                        <li><a href="#" tabindex="0"><span>Designer UI</span></a></li>
                        <li><a href="#" tabindex="0"><span>Intégrateur</span></a></li>
                    </ul>
                
                </li>
                <li><a href="#" tabindex="0"> <span>Notre démarche </span></a></li>
                <li><a href="#" tabindex="0" class="active"> <span>Contact </span></a></li>
            </ul>