            <ul>
                <li>
                    <a href="#"> <span>Home</span> </a>
                </li>
                <li>
                    <a href="#"> <span>Notre équipe</span> </a>
                </li>
                <li class="has-submenu"><a href="#"> <span>Nos métiers</span> </a>
                    <ul>
                        <li><a href="#"><span>Designer UX</span></a></li>
                        <li><a href="#"><span>Designer UI</span></a></li>
                        <li><a href="#"><span>Intégrateur</span></a></li>
                    </ul>
                
                </li>
                <li><a href="#"> <span>Notre démarche </span></a></li>
                <li><a href="#" class="active"> <span>Contact </span></a></li>
            </ul>